@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked";
}

<a asp-area="" asp-controller="Home" asp-action="Index" class="back-btn btn">❮</a>
<div class="row account-container">
    <div>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger" style="text-align: center;">This account has been locked, please try again later.</p>
    </div>
</div>
