$mainColor: #287ACC;
$mainColorDark: #1B5288;
$subColor: #E2E2E2;
$subColorDark: #474747;
$mainColorRgba: rgba(40,122,204,.8);
$mainColorGradientBg: linear-gradient($mainColorRgba, $mainColorRgba), url('../img/main-bg.jpg');
$textColor: #474747;

